<ui-label class="d-block mb-1 text-size-2" label="{{ 'TABS.SCRIPT_OBJECTS_MANAGER' | translate }}">
</ui-label>

<div class="row flex-nowrap">


    <div class="col flex-shrink-0 object-selector-container card p-2 me-1 bg-light">
        <button ng-if="$ctrl.hasObjectSelected" tooltip="{{ 'EXPAND_COLLAPSE_OBJECT_SELECTOR' | translate }}"
            ng-click="$ctrl.handleObjectSelectorToggle()" class="btn btn-sm btn-info rounded-circle btn-toggle">
            {{$ctrl.toggleObjectSelectorButtonSymbol}}
        </button>
        <div class="object-selector">
            <!-- The toolbar for the object manager -->
            <object-manager-toolbar></object-manager-toolbar>
            <!-- The list of objects in the object set -->
            <ui-list ng-if="$ctrl.view == 'editor'" class="mt-3 d-block" id="objectsList"
                label="{{ 'OBJECTS_IN_OBJECT_SET' | translate }}" max-height="460px" min-height="300px"
                source="$ctrl.objectsList" selected="$ctrl.selectedObjects">
            </ui-list>
        </div>
    </div>
    <div class="col flex-grow-1 border overflow-x-auto object-editor-container card p-2 bg-light">
        <!-- The object manager editor-->
        <object-manager-editor ng-if="$ctrl.view == 'editor'"></object-manager-editor>
    </div>
</div>

<div ng-if="$ctrl.view == 'select-object-set-warning'" class="card p-2 mt-3">
    {{ 'SELECT_OBJECT_SET' | translate }}
</div>

<div ng-if="$ctrl.view == 'add-objects-warning'" class="card p-2 mt-3">
    {{ 'ADD_SOBJECTS_TO_OBJECT_SET' | translate }}
</div>