<uib-tabset>
    <uib-tab>
        <!--Fields Tab-->
        <uib-tab-heading>
            <i class="fa fa-exclamation-triangle text-warning" data-custom-class='tooltip-warning' data-toggle='tooltip'
                title="{{res.ValidationError_InvalidFields2}}"
                ng-show="ui.state.sobject().hasInvalidFields"></i>&nbsp;
                {{res.Config_Tab_ObjectFields}}
        </uib-tab-heading>
        <div class="mt-3">
            <div transfer-picker group-by="category" item-name="label" value-name="name"
                left-tab-name-text="res.Config_AvailableFields" right-tab-name-text="res.Config_SelectedFields"
                search-placeholder-text="res.Config_SearchFields" data-collection="ui.state.sobject().fieldItems"
                data-model="ui.state.sobject().fields" data-id="'fieldsTransfer'"
                on-item-changed="ui.configPage.addRemoveObjectFieldsHandler">
            </div>
            <div id="fieldsTransfer"></div>
        </div>
    </uib-tab>
    <!--Excluded Fields Tab-->
    <uib-tab heading="{{res.Config_Tab_ExcludedFields}}">
        <div class="mt-3">
            <div transfer-picker group-by="category" item-name="label" value-name="name"
                left-tab-name-text="res.Config_AllSelectedFields" right-tab-name-text="res.Config_ExcludedFields"
                search-placeholder-text="res.Config_SearchFields" data-collection="ui.state.sobject().excludedFieldsItems"
                data-model="ui.state.sobject().excludedFields" data-id="'excludedFieldsTransfer'"
                on-item-changed="ui.configPage.addRemoveObjectExcludedFieldsHandler">
            </div>
            <div id="excludedFieldsTransfer"></div>
        </div>
    </uib-tab>
    <!--Polymorphic Fields Tab-->
    <uib-tab ng-show="ui.state.sobject().hasPolymorphicFields">
        <uib-tab-heading>
            <i class="fa fa-exclamation-triangle text-warning" data-custom-class='tooltip-warning' data-toggle='tooltip'
                title="{{res.Config_SObjectHasUnresolvedPolymorphicFields}}"
                ng-show="ui.state.sobject().hasUnresolvedPolymorphicFields"></i>&nbsp;
            {{res.Config_Tab_Polymorphic}}
        </uib-tab-heading>
        <div class="mt-3">
            <ng-include src="'./views/partials/config_tabs/polymorphic_lookups_tab.html'"></ng-include>
        </div>
    </uib-tab>

</uib-tabset>