<div class="card">
    <div class="card-body">
        <!--Add buton-->
        <div uib-alert ng-class="'alert-info'"
            ng-show="ui.state.sobject().fieldMapping.length == 0 && ui.state.sobject().availableFieldItemsForFieldMapping.length > 0">
            <i class="fa fa-info-circle"></i>&nbsp;{{res.Config_AddNewMappingButtonDescription}}
        </div>
        <div uib-alert ng-class="'alert-info'"
            ng-show="ui.state.sobject().availableFieldItemsForFieldMapping.length == 0">
            <i class="fa fa-info-circle"></i>&nbsp;{{res.Config_NoFieldsAvailableForMapping}}
        </div>
        <button ng-show="ui.state.sobject().availableFieldItemsForFieldMapping.length > 0"
            ng-disabled="ui.configPage.disableAddNewFieldMappingItemButton()" class="btn btn-sm btn-primary mb-3"
            ng-click="ui.configPage.addFieldMappingHandler()">
            {{res.Config_AddNewMappingButton}}
        </button>
        <div ng-repeat-start="field in ui.state.sobject().fieldMapping track by $index"></div>
        <div class="row"
            ng-show="ui.state.sobject().fieldMapping.length > 0">
            <div class="col-5">
                <!--Target object input-->
                <div class="form-group required" ng-if="$index == 0">
                    <i ng-if="!field.isValid()" class="fa fa-exclamation-circle text-warning inline-block"
                        data-custom-class='tooltip-warning' data-toggle='tooltip' title="{{field.errorMessage}}"></i>
                    <uib-label help="{{res.Config_Help_SelectTargetSObjectToMap}}" class="inline-block">
                        {{res.Config_SelectTargetSObjectToMap}}:</uib-label>
                    <angucomplete selectedobject="a" id="{{$index}}_a" placeholder="Search for the target object..."
                        pause="500" default-value="{{field.targetObject}}"
                        localdata="ui.configPage.availableTargetSObjectNamesForFieldMapping" searchfields="name,label"
                        titlefield="label" minlength="1" inputclass="form-control form-control-small"
                        changed="ui.configPage.fieldMappingChangedHandler(options, 'targetObject')"
                        initialized="ui.configPage.fieldMappingInitializeHandler(options)">
                    </angucomplete>
                </div>
                <!--Source field input-->
                <div class="form-group required" ng-if="$index > 0">
                    <i ng-if="!field.isValid()" class="fa fa-exclamation-circle text-warning inline-block"
                        data-custom-class='tooltip-warning' data-toggle='tooltip' title="{{field.errorMessage}}"></i>
                    <uib-label help="{{res.Config_Help_SelectSourceFieldToMap}}" ng-if="$index == 1"
                        class="inline-block">
                        {{res.Config_SelectSourceFieldToMap + ' (' + ui.state.sobject().name + ')'}}:</uib-label>
                    <angucomplete selectedobject="b" id="{{$index}}_b" placeholder="Search for the source field..."
                        pause="500" default-value="{{field.sourceField}}"
                        localdata="ui.state.sobject().availableFieldItemsForFieldMapping" searchfields="name,label"
                        titlefield="label" minlength="1" inputclass="form-control form-control-small"
                        changed="ui.configPage.fieldMappingChangedHandler(options, 'sourceField')">
                    </angucomplete>
                </div>
            </div>
            <div class="col-5" ng-if="$index > 0">
                <!--Target field input-->
                <div class="form-group required">
                    <uib-label help="{{res.Config_Help_SelectTargetFieldToMap}}" ng-if="$index == 1">
                        {{res.Config_SelectTargetFieldToMap + ' (' + ui.state.sobject().targetSobjectNameForFieldMapping + ')'}}:
                    </uib-label>
                    <angucomplete selectedobject="c" id="{{$index}}_c" placeholder="Search for the target field..."
                        pause="500" default-value="{{field.targetField}}"
                        localdata="ui.configPage.availableTargetSFieldsNamesForFieldMapping" searchfields="name,label"
                        titlefield="label" minlength="1" inputclass="form-control form-control-small"
                        changed="ui.configPage.fieldMappingChangedHandler(options, 'targetField')">
                    </angucomplete>
                </div>
            </div>
            <!--Remove button-->
            <div class="col-2 bottom-container" ng-if="!$first || ui.state.sobject().fieldMapping.length == 1">
                <uib-btn-icon ng-click="ui.configPage.removeFieldMappingHandler($index)"
                    help="{{res.Config_RemoveNewMappingButton}}" variant="danger" icon="trash" class="btn-xs inline">
                </uib-btn-icon>
            </div>
        </div>
        <div class="row" ng-if="$index == 0" ng-repeat-end>
            <div class="col-12">
                <hr />
            </div>
        </div>
    </div>

</div>