<div class="card">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{res.Column_FieldName}}</th>
                    <th>{{res.Column_ParentSObject}}</th>
                </tr>
            </thead>
            <tbody>
                <!--List of Polymorphic fields-->
                <tr ng-repeat="field in ui.state.sobject().polymorphicFields | orderBy : 'name' track by field.name">
                    <td>
                        {{field.name}}
                    </td>
                    <td>
                        <!--Polymorphic field selector -->
                        <select data-config-sobjects-selector select-picker data-multiple="false"
                            data-collection="field.referencedTo" data-model="field.parentSObject"
                            class="form-control form-control-sm"
                            on-item-changed="ui.configPage.polymorphicFieldChangedHandler"
                            data-field-name="{{field.name}}">
                            <option
                                ng-repeat="parent in field.referencedToSObjects | orderBy : 'label' track by parent.name"
                                value={{parent.name}}>
                                {{parent.label}} ({{parent.name}})
                            </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>