<!DOCTYPE html>
<html>

<head>
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' data: 'unsafe-eval' 'unsafe-inline'; script-src 'self' data: 'unsafe-inline' 'unsafe-eval'">
  <meta http-equiv="X-Content-Security-Policy"
    content="default-src 'self' data: 'unsafe-eval' 'unsafe-inline'; script-src 'self' data: 'unsafe-inline' 'unsafe-eval'">

  <!-- Stylesheets -->
  <link data-bootstrap rel="stylesheet" />
  <link rel="stylesheet" href="./libs/font-awesome/css/all.min.css" />
  <link rel="stylesheet " href="./libs/jquery-transfer/icon_font/css/icon_font.css " />
  <link rel="stylesheet " href="./libs/jquery-transfer/css/jquery.transfer.css" />
  <link rel="stylesheet " href="./libs/flag-icons/css/flag-icons.min.css" />
  <link data-app rel="stylesheet" />

</head>

<body>
  <!-- Content -->
  <div ng-app="appRoot" ng-controller="IndexController as $ctrl" ng-cloak>

    <app-component>

      <!-- Header -->
      <header-pane>
        <ui-menu id="mainMenu" add-toggler="true" navbar-class="navbar-dark bg-primary h-100"
          navbar-nav-class="me-auto mb-2 mb-lg-0">
          <navbar-brand>
            <img src="./images/logo.png" />
          </navbar-brand>
          <navbar-form>
            <ui-lang-switcher></ui-lang-switcher>
          </navbar-form>
        </ui-menu>
      </header-pane>

      <toolbar-pane>
        <!-- Toolbar -->
        <div class="d-flex justify-content-between">
          <button ng-disabled="toolbar.previousDisabled" class="btn btn-secondary" ng-click="goPreviousStep()">
            {{ 'STEP_PREVIOUS' | translate }}
          </button>
          <ui-alert message-class="ad-flex align-items-center flex-wrap justify-content-center" neutral-bg="true"
            shown-always="true" show-break="true" id="mainStateAlertBox"
            icon-tooltip-custom-class="tooltip-mainStateAlertBox">
            <div class="flex-break"></div>
            <div class="text-dark pt-2" ng-bind-html="toolbar.message">
            </div>
          </ui-alert>
          <button ng-disabled="toolbar.nextDisabled" class="btn btn-primary" ng-click="goNextStep()">
            {{ 'STEP_NEXT' | translate }}
          </button>
        </div>
      </toolbar-pane>

      <!-- Left Sidebar -->
      <left-sidebar-pane>
        <wizard-step id="mainWizard" current-step="1"></wizard-step>
      </left-sidebar-pane>

      <!-- Body -->
      <body-pane>
        <ui-view></ui-view>
      </body-pane>

      <!-- Right Sidebar -->
      <right-sidebar-pane>
        <div id="browser-logs" class="p-2 text-sm"></div>
      </right-sidebar-pane>

      <!-- Footer -->
      <footer-pane>
        <div class="d-flex align-items-center justify-content-between text-white me-2 ms-2 h-100">
          <div id="workspacePath"></div>
          <ui-divider></ui-divider>
          <div id="connectedOrgs"></div>
          <ui-divider></ui-divider>
          <div ng-bind-html="config.copyrightsDisplayText"></div>
        </div>
      </footer-pane>

    </app-component>

  </div>

  <!-- Scripts -->
  <script>
    window.$ = window.jQuery = require('jquery');
  </script>

  <script>
    require('./js/electron-app/renderer.js');
  </script>

</body>

</html>