<ui-label class="d-block text-size-2" label="{{ 'TABS.FIELDS_MAPPING' | translate }}" help-search-word="FIELDS_MAPPING"
    add-help-links="true">
</ui-label>

<ui-json-editor form-class="align-items-end" id="objectfieldMappingTabTargetObjectForm"
    setup="$ctrl.fieldMappingTargetObjectsListFormSetup" json="$ctrl.fieldMappingTargetObjectsListJson"
    on-change="$ctrl.handleFieldMappingTargetObjectChange(args)">
</ui-json-editor>

<ui-alert class="d-block mt-2" type="warning" shown="$ctrl.targetObjectNotDescribed">
    {{ 'TAGET_SOBJECT_NOT_DESCRIBED' | translate }}
</ui-alert>

<ui-edit-form-array ng-if="!$ctrl.targetObjectNotDescribed" class="d-block pe-3" id="objectFieldMappingTabFieldsForm"
    setup="$ctrl.fieldMappingSetup" label="{{ 'MAPPED_FIELDS' | translate }}" form-class="form-control-width-2"
    array-setup="$ctrl.fieldMappingArraySetup" json-array="$ctrl.fieldMappingJsonArray"
    on-change="$ctrl.handleFieldMappingChange(args)" items-container-class="auto-height-h835"></ui-edit-form-array>