<ui-label class="d-block text-size-2" label="{{ 'TABS.QUERY_TEST' | translate }}">
</ui-label>

<ui-accordion-tabs selected-item="$ctrl.selectedQueryTestTabIndex">
    <ui-accordion-tab title="{{ 'FULL_QUERY_STRING' | translate }}" tab-id="full-query">
        <div class="mt-3 mb-3 row align-items-center justify-content-between">
            <ui-toggle class="d-block col-md-4" ng-model="$ctrl.queryTestUseSourceConnection"
                label="{{ 'USE_SOURCE_CONNECTION' | translate }}"
                disabled="$ctrl.queryUsedConnectionToggleDisabled"></ui-toggle>
            <div class="col-md-6">
                {{ 'RUN_ON_ORG' | translate : { USER_NAME : $ctrl.queryTestOrgName } }}
            </div>
            <div class="col-md-2 d-flex flex-row-reverse justify-content-evenly ">
                <button class="btn btn-outline-primary btn-sm" ng-click="$ctrl.handleCopyQueryStringToClipboard()"
                    tooltip="{{ 'COPY_TO_CLIPBOARD' | translate }}">
                    <i class="{{ $ctrl.FaIcon.copy }}"></i>
                </button>
                <button class="btn btn-primary btn-sm" ng-click="$ctrl.handleRunQueryStringTest()"
                    tooltip="{{ 'RUN_QUERY_TEST' | translate }}">
                    <i class="{{ $ctrl.FaIcon.play }}"></i>
                </button>
            </div>
        </div>
        <div class="row mb-3">
            <small class="col-md-12 text-muted">
                <em>
                    {{ 'QUERY_RESULTS_LIMITED_TO_RECORDS' | translate : { RECORDS_LIMIT : $ctrl.queryTestRecordsLimit }
                    }}
                </em>
            </small>
        </div>
        <hr class="p-0 m-0" />
        <textarea style="direction:ltr !important" data-test-query ng-model="$ctrl.fullSoqlQuery" readonly
            class="form-control" rows="10"></textarea>
    </ui-accordion-tab>
    <ui-accordion-tab title="{{ 'TEST_QUERY_RESULT' | translate }}" tab-id="query-result">
        <div class="pb-2 pt-2">
            {{ 'TOTAL_RECORDS' | translate : { COUNT : $ctrl.queryTestTotalRecordsCount } }}
        </div>
        <div style="direction:ltr !important">
            <ui-table source="$ctrl.queryTestTableSource"
                table-style="{ 'overflow-y': 'auto', 'max-height': 'calc(100vh - 710px)' }"></ui-table>
        </div>
    </ui-accordion-tab>
</ui-accordion-tabs>