<ui-tabs ng-if="$ctrl.view == 'editor'" id="objectEditorTabs" orientation="vertical"
	tab-content-class="object-editor-tab-content" on-change="$ctrl.handleTabChange(args)"
	selected-tab-id="$ctrl.selectedTabId">

	<tabs-header>
		<div class="p-2" ng-style="$ctrl.selectedSObjectOption.inactive && { 'opacity': '0.4' }">
			<i tooltip="{{ icon.popover }}" ng-repeat="icon in $ctrl.selectedSObjectOption.icons"
				class="me-2 {{ icon.iconClass }} {{ icon.icon }}"
				tooltip-custom-class="{{ icon.iconTooltipCustomClass }}"></i>
			<strong>{{ $ctrl.selectedSObject.label }}</strong>
		</div>
		<hr />
	</tabs-header>

	<ui-tab title="{{ 'TABS.OBJECT_FIELDS' | translate }}" tab-id="fields" icon="{{ $ctrl.FaIcon.field }}"
		active="true">
		<div ng-include="'./js/angular-app/components/objectManagerEditor/views/fields.html'"></div>
	</ui-tab>

	<ui-tab title="{{ 'TABS.QUERIES_AND_FILTERS' | translate }}" tab-id="query" icon="{{ $ctrl.FaIcon.query }}">
		<div ng-include="'./js/angular-app/components/objectManagerEditor/views/query.html'"></div>
	</ui-tab>

	<ui-tab title="{{ 'TABS.QUERY_TEST' | translate }}" tab-id="testQuery" icon="{{ $ctrl.FaIcon.test }}">
		<div ng-include="'./js/angular-app/components/objectManagerEditor/views/test.html'"></div>
	</ui-tab>

	<ui-tab title="{{ 'TABS.FIELDS_MAPPING' | translate }}" tab-id="fieldsMapping"
		icon="{{ $ctrl.FaIcon.fieldsMapping }}">
		<div ng-include="'./js/angular-app/components/objectManagerEditor/views/fieldsMapping.html'"></div>
	</ui-tab>

	<ui-tab title="{{ 'TABS.DATA_ANONYMIZATION' | translate }}" tab-id="dataAnonymization"
		icon="{{ $ctrl.FaIcon.dataAnonymization }}">
		<div ng-include="'./js/angular-app/components/objectManagerEditor/views/dataAnonymization.html'"></div>
	</ui-tab>

	<ui-tab title="{{ 'TABS.ADD_ONS' | translate }}" tab-id="addOns"
		icon="{{ $ctrl.FaIcon.addOn  }}">
		<div ng-include="'./js/angular-app/components/objectManagerEditor/views/addOns.html'"></div>
	</ui-tab>

	<ui-tab title="{{ 'TABS.OBJECT_SETTINGS' | translate }}" tab-id="objectSettings" icon="{{ $ctrl.FaIcon.settings }}">
		<div ng-include="'./js/angular-app/components/objectManagerEditor/views/settings.html'"></div>
	</ui-tab>

</ui-tabs>

<ui-alert class="d-block mt-2" type="warning" shown="$ctrl.view == 'cant-edit'">
	{{ 'CANT_EDIT_THIS_SOBJECT' | translate }}
</ui-alert>

<div class="card mt-2 p-2" ng-if="$ctrl.view == 'select-sobject'">
	{{ 'SELECT_SOBJECT_TO_EDIT' | translate }}
</div>