<ui-alert id="quickTipConfigurationIntroductionAlert"
    message="{{ 'TIPS.CONFIGURATION_STEP_INTRODUCTION' | translate : { APP_NAME : package.description } | md }}"
    dismissable="true">
</ui-alert>

<div class="card p-2">
    <div ng-if="$ctrl.isConfigurationSelected">

        <!-- Main Tabs -->
        <ui-tabs id="scriptTabs" orientation="horizontal" selected-tab-id="$ctrl.scriptTabsSelectedTabId">

            <!-- Object Manager Tab -->
            <ui-tab title="{{ 'TABS.SCRIPT_OBJECTS_MANAGER' | translate  }}" icon="cloud" tab-id="tabObjectManager">
                <object-manager></object-manager>
            </ui-tab>

            <!-- Main Script AddOns Tab -->
            <ui-tab title="{{ 'TABS.ADD_ONS' | translate }}" icon="addOn" tab-id="tabScriptAddOns">
                <main-script-add-ons></main-script-add-ons>
            </ui-tab>

            <!-- Main Script Settings Tab -->
            <ui-tab title="{{ 'TABS.SCRIPT_SETTINGS' | translate }}" icon="settings" tab-id="tabScriptSettings">
                <main-script-settings></main-script-settings>
            </ui-tab>

        </ui-tabs>

    </div>
    <div ng-if="!$ctrl.isConfigurationSelected"> {{ 'NO_CONFIGURATION_SELECTED' | translate }} </div>
</div>