<ui-alert id="quickTipConnectionIntroductionAlert"
    message="{{ 'TIPS.CONNECTION_STEP_INTRODUCTION' | translate : { APP_NAME : package.description } | md }}"
    dismissable="true">
</ui-alert>
<div class="card p-2">
    <div ng-if="$ctrl.orgConnectionSelectorIsVisible">
        <ui-json-editor class="d-flex" form-class="me-2" id="orgsConnectionSelectorFormJsonEditor"
            setup="$ctrl.orgsConnectionSelectorFormSetup" json="$ctrl.orgsConnectionSelectorFormJson"
            on-change="$ctrl.handleJsonEditorChange(args)"></ui-json-editor>
    </div>
    <div ng-if="!$ctrl.orgConnectionSelectorIsVisible">
        {{ 'NO_AVAILABLE_CONNECTIONS' | translate }}
    </div>
</div>