<!--Top section-->
<section class="row mb-3">
    <div class="col-md-6 page-title">
        <h2><i class="fa fa-database"></i>&nbsp;{{res.Menu_DataMigration}}</h2>
        <hr />
        <h4><i class="fa fa-play"></i>&nbsp;{{res.Menu_ExecuteScript}}
        </h4>
        <small>{{res.Page_ExecuteScript}}</small>
    </div>
</section>

<!--Abort execution button -->
<section ng-show="ui.state.scriptIsExecuting">
    <div uib-alert ng-class="'alert-info'">
        <img src="./images/loader.gif" style="width:32px; height: 32px;" />
        &nbsp;{{res.Page_ScriptIsExecuting}}
        <button ng-click="ui.state.abortExecutionHandler()" type="button" class="btn btn-danger btn-sm ml-0"><i
                class="fa fa-close"></i>&nbsp;{{res.Page_AbortExecutionButton}}</button>
    </div>
</section>

<!--Messages -->
<section ng-show="!ui.executePage.isShown()">
    <div uib-alert ng-class="'alert-warning'">
        <i class="fa fa-exclamation-triangle"></i>&nbsp;{{res.PleaseExecuteJob}}
    </div>
</section>

<section class="card" ng-show="ui.executePage.isShown()">
    <div class="card-body">
        <div class="mt-4 execute-page-section" ng-bind-html="ui.executePage.executeLogHtml">
        </div>
    </div>
</section>