<section class="login-wrapper fadeInDown">
    <div id="formContent">
        <!-- Title -->
        <div class="fadeIn first mt-4">
            <h3><i class="fa fa-user"></i> {{res.Menu_SignIn}}</h3>
        </div>

        <!--Form -->
        <form>
            <input type="email" id="login" ng-model="ui.loginPage.form.email" required class="fadeIn second"
                name="email" placeholder="* {{res.Auth_EmailAddress}}">
            <input type="password" id="password" ng-model="ui.loginPage.form.password" required class="fadeIn third"
                name="password" placeholder="* {{res.Auth_Password}}">
            <input type="submit" ng-click="ui.loginPage.loginHandler()" class="fadeIn fourth" value="{{res.Menu_SignIn}}">
            <div class="error" ng-show="ui.loginPage.form.invalid">{{res.Auth_Error_UserNotFound}}</div>
        </form>
        
        <!--Footer -->
        <div id="formFooter">
            {{ui.common.app_title}}
        </div>

    </div>
</section>