<!--Top section-->
<section class="row mb-3">

    <div class="col-md-6 page-title">
        <h2><i class="fa fa-database"></i>&nbsp;{{res.Menu_DataMigration}}</h2>
        <hr />
        <h4><i class="fa fa-eye"></i>&nbsp;{{res.Menu_PreviewScript}}&nbsp;{{ui.state.config().name}}
        </h4>
        <small>{{res.Page_Preview}}</small>
    </div>
    <div class="col-md-6 text-right" ng-show="ui.previewPage.isShown()">
        <!--Next button -->
        <button class="btn btn-secondary btn-md" ng-disabled="!ui.previewPage.isValid() || ui.state.scriptIsExecuting" type="button"
            ng-click="ui.previewPage.goNext()" popover-placement="bottom" popover-trigger="'mouseenter'"
            uib-popover="{{res.Preview_NextStep}}">
            {{res.ExecuteJob}}&nbsp;<i class="fa fa-play"></i>
        </button>
    </div>
</section>

<!--Abort execution button -->
<section ng-show="ui.state.scriptIsExecuting">
    <div uib-alert ng-class="'alert-info'">
        <img src="./images/loader.gif" style="width:32px; height: 32px;" />
        &nbsp;{{res.Page_ScriptIsExecuting}}
        <button ng-click="ui.state.abortExecutionHandler()" type="button" class="btn btn-danger btn-sm ml-0"><i
                class="fa fa-close"></i>&nbsp;{{res.Page_AbortExecutionButton}}</button>
    </div>
</section>

<!--Messages -->
<section ng-show="!ui.previewPage.isShown()">
    <div uib-alert ng-class="'alert-warning'">
        <i class="fa fa-exclamation-triangle"></i>&nbsp;{{res.PleaseCompletePrevStep}}
    </div>
</section>

<section ng-show="ui.previewPage.isValid() && ui.previewPage.isShown() && !ui.state.scriptIsExecuting">
    <div uib-alert ng-class="'alert-success'">
        <i class="fa fa-thumbs-up"></i>&nbsp;{{res.Page_PreviewStepIsCompleted}}
    </div>
</section>

<section ng-show="ui.previewPage.isShown()">
    <div class="card overlay-container">
        <div class="overlay" ng-show="ui.state.scriptIsExecuting"></div>
        <div class="card-body">
            <div class="form-group">
                <label>{{res.Preview_MigrationDirection}}</label>
                <!-- MigrationDirection Selector-->
                <select class="form-control" ng-disabled="ui.previewPage.migrationDirectionSelectorIsDisabled()"
                    ng-model="ui.previewPage.selectedMigrationDirection">
                    <option ng-repeat="item in ui.previewPage.migrationDirections() track by item.value"
                        value="{{item.value}}">
                        {{item.text}}
                    </option>
                </select>
            </div>
            <div class="form-group pt-2">
                <!-- Command Preview-->
                <div class="bold">
                    {{res.Preview_CLICommandDescription}}
                </div>
                <!-- Command Clipboard Copy Button-->
                <div class="text-secondary bold">
                    {{ui.previewPage.getCLICommandString()}}<br />
                    <button ng-click="ui.previewPage.copyCLICommandStringToClipboardHandler()"
                        class="btn btn-sm btn-link pl-0 pb-0 mb-0 pt-0 mt-0">
                        {{res.Preview_CopyCLICommandButton}}
                    </button>
                </div>
            </div>
            <div class="form-group pt-2 mb-0-all">
                <!-- Command Preview-->
                <uib-btn-switch label-true="{{res.Preview_FullScript}}" label="{{res.Preview_WhichExportJsonVersion}}"
                    label-false="{{res.Preview_MinimalScript}}" ng-model="ui.previewPage.isFullExportJson"
                    ng-change="ui.previewPage.generateExportJsonHandler()"
                    help="{{res.Preview_Help_WhichExportJsonVersion}}">
                </uib-btn-switch>
            </div>
            <div class="form-group pt-3 mb-0-all">
                <div class="script-preview">
                    <textarea class="form-control" ng-model="ui.previewPage.exportJson" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</section>