<ui-alert id="quickTipPreviewIntroductionAlert"
    message="{{ 'TIPS.PREVIEW_STEP_INTRODUCTION' | translate : { APP_NAME : package.description } | md }}"
    dismissable="true">
</ui-alert>

<div class="row align-items-start">
    <div class="col-md-12">
        <label class="fw-bold">{{ 'CLI_COMMAND_TO_RUN' | translate}}</label>
    </div>
    <div class="col-md-11">        
        <textarea class="form-control w-100 dir-ltr" ng-model="$ctrl.cliCommand" disabled rows="3"></textarea>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary btn-sm" ng-click="$ctrl.handleCopyCliCommandToClipboard()"
            tooltip="{{ 'COPY_TO_CLIPBOARD' | translate }}">
            <i class="fas fa-copy"></i>
        </button>
    </div>
</div>
<hr />
<ui-tabs>
    <ui-tab title="{{ 'SCRIPT_PREVIEW' | translate }}" tab-id="script-preview" icon="{{ $ctrl.FaIcon.eye }}"
        active="true">
        <ui-label class="d-block text-primary-dashed" label="{{ 'SCRIPT_PREVIEW' | translate }}">
        </ui-label>
        <div class="row align-items-start mt-1" style="height: calc(100vh - 554px)">
            <div class="col-md-11 h-100">
                <textarea class="form-control h-100 dir-ltr" ng-model="$ctrl.scriptPreview" readonly></textarea>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-sm" ng-click="$ctrl.handleCopyScriptPreviewToClipboard()"
                    tooltip="{{ 'COPY_TO_CLIPBOARD' | translate }}">
                    <i class="fas fa-copy"></i>
            </div>
        </div>
    </ui-tab>
    <ui-tab title="{{ 'COMMAND_LINE_DETAILED_SETTINGS' | translate }}" tab-id="cli-details"
        icon="{{ $ctrl.FaIcon.terminal }}">
        <ui-label class="d-block text-primary-dashed" label="{{ 'COMMAND_LINE_DETAILED_SETTINGS' | translate }}"
            help-search-word="COMMAND_LINE_DETAILED_SETTINGS" add-help-links="true">
        </ui-label>
        <div class="row mt-1">
            <div class="col-md-8">
                <ui-json-editor form-class="ms-2 mt-5 align-items-end" id="sfdmuCommandSetupForm"
                    setup="$ctrl.sfdmuCommandSetup" row-titles="$ctrl.sfdmuCommandTitles" json="$ctrl.sfdmuCommandJson"
                    on-change="$ctrl.handleSfdmuCommandFormChange(args)">
                </ui-json-editor>
            </div>
        </div>
    </ui-tab>
</ui-tabs>