<section class="row mb-3">
    <div class="col-8 page-title">
        <h2>
            <i class="fa fa-cogs"></i>&nbsp;{{res.Menu_UserProfile}}
        </h2>
        <hr />
        <div class="row mt-4 card-form-container">
            <div class="col-6">
                <!-- PASSWORD AND EMAIL MANAGE -->
                <ng-include src="'./views/partials/profile_sections/email_form.html'"></ng-include>
            </div>
            <div class="col-6">
                <!-- SETTINGS MANAGE -->
                <ng-include src="'./views/partials/profile_sections/settings_form.html'"></ng-include>
            </div>
        </div>
    </div>
</section>