<ui-tabs id="scriptAddOnsTabset" selected-tab-id="$ctrl.addOnsSelectedTabId" on-change="$ctrl.handleTabChange(args)">
    <ui-tab title="{{ 'ON_BEFORE_ADD_ONS' | translate }}" tab-id="script-beforeAddons">
        <div ng-repeat="params in [{ label: 'ON_BEFORE_ADD_ONS', helpSearchWord: 'ON_BEFORE_EVENT' }]"
            ng-include="'./js/angular-app/components/scriptAddOns/views/addOnsToolbar.html'"></div>
        <div ng-repeat="params in [{ addOnType: 'beforeAddons' }]"
            ng-include="'./js/angular-app/components/scriptAddOns/views/addOnsEditor.html'"></div>
    </ui-tab>
    <ui-tab title="{{ 'ON_DATA_RETRIEVED_ADD_ONS' | translate }}" tab-id="script-dataRetrievedAddons">
        <div ng-repeat="params in [{ label: 'ON_DATA_RETRIEVED_ADD_ONS', helpSearchWord: 'ON_DATA_RETRIEVED_EVENT' }]"
            ng-include="'./js/angular-app/components/scriptAddOns/views/addOnsToolbar.html'"></div>
        <div ng-repeat="params in [{ addOnType: 'dataRetrievedAddons' }]"
            ng-include="'./js/angular-app/components/scriptAddOns/views/addOnsEditor.html'"></div>
    </ui-tab>
    <ui-tab title="{{ 'ON_AFTER_ADD_ONS' | translate }}" tab-id="script-afterAddons">
        <div ng-repeat="params in [{ label: 'ON_AFTER_ADD_ONS', helpSearchWord: 'ON_AFTER_EVENT' }]"
            ng-include="'./js/angular-app/components/scriptAddOns/views/addOnsToolbar.html'"></div>
        <div ng-repeat="params in [{ addOnType: 'afterAddons' }]"
            ng-include="'./js/angular-app/components/scriptAddOns/views/addOnsEditor.html'"></div>
    </ui-tab>
</ui-tabs>