<form class="card card-form">
    <div class="card-body">
        <h4>{{res.Profile_ApplicationSettings}}:</h4>
        <div class="form-group">
            <label>{{res.Profile_DbName}}:</label>
            <input type="text" ng-model="ui.profilePage.settingsForm.db_name" class="form-control"
                placeholder="{{res.Profile_EnterDbName}}">
        </div>
        <div class="form-group">
            <label>{{res.Profile_DatabaseSubfolderName}}:</label>
            <input type="text" ng-model="ui.profilePage.settingsForm.db_path" class="form-control"
                placeholder="{{res.Profile_EnterNewPassword}}">
        </div>
        <div class="form-group">
            <label>{{res.Profile_CurrentBasePath}}:</label>
            <strong class="text-inverse">
                {{ui.profilePage.settingsForm.db_basePath}}
            </strong>
            <br />
            <button type="button" class="btn btn-link btn-light btn-sm"
                ng-click="ui.profilePage.openChangeBasePathDialogHandler()">
                {{res.Profile_SelectPath}}
            </button>
            <uib-switch ng-model="ui.profilePage.settingsForm.db_moveFiles" class="mt-2" id="copyAllFilesSwitch">
                {{res.Profile_MoveFilesWithDb}}
            </uib-switch>            
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm"
            ng-click="ui.profilePage.saveApplicationSettingsHandler()">{{res.Save}}</button>
    </div>
</form>