/* COMMON */

body, wrapper {
    min-height: 100vh;
    position: relative;
}

.bg-main {
    background-color: #50d0ff !important;
}

.flex-fill {
    flex: 1 1 auto;
}

.hidden {
    display: none !important;
}

.h-100vh {
    min-height: calc(100vh - 72px);
}

.bold {
    font-weight: bold !important;
}

.border-right {
    border-right: solid 1px #d0d0d0;
}

.underline {
    text-decoration: underline;
}

.break {
    flex-basis: 100%;
    height: 0;
    clear: both;
}

.white {
    color: white !important;
}

h2 .fa {
    font-size: 20px;
    position: relative;
    top: -2px;
}

.fa-link {
    transform: rotate(90deg);
}

.page-title h2 {
    color: #3f4f58;
}

.form-group.required>label:before {
    content: '* ';
    color: red;
}

.card-form {
    position: relative;
    height: 100%;
}

.card-form-container {
    min-height: 400px;
}

.navbar-nav .nav-item.divider {
    border-left: 1px solid #7d7b7b;
    margin-left: 16px;
}

@media (max-width: 768px) {
    .navbar-nav .nav-item.divider {
        border-left: none;
        margin-left: initial;
    }
}

.config-page-section, .home-page-section, .execute-page-section {
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
}

.execute-page-section {
    padding: 10px !important;
    border: solid 1px #d0d0d0;
}

.config-page-section-auto-h {
    max-height: unset;
}

.script-output {
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
    color: grey;
}

.overflow-initial {
    overflow: initial;
}

.table th {
    font-weight: 700;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.inline {
    display: inline !important;
}

.bg-white {
    background-color: white !important;
}

.bg-light-light {
    background-color: #f7f7f7 !important
}

.btn-sm {
    height: 29px;
}

.card {
    overflow-y: visible !important;
}

.list-group-item.active {
    background-color: #838385 !important;
    border: solid 1px #d0d0d0;
}

.transfer-double-content-param {
    background-color: #a6c;
}

.alert-success {
    color: #ffffff;
    background-color: #4cd56e;
    border-color: #c3e6cb;
}

.float-right {
    float: right;
}

.icon-help {
    position: relative;
    top: -5px;
    color: #a0a0a0;
}

.pointer {
    cursor: pointer;
}

.text-black {
    color: #808080 !important;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-xs {
    padding: 8px !important;
}

.no-wrap {
    white-space: nowrap !important;
}

.bottom-container {
    display: flex;
    align-items: flex-end;
}

.btn-icon[disabled] {
    opacity: 0.4;
    color: #a0a0a0;
}

.nav-separator {
    border: solid 0.05rem #003976;
    width: 100%;
    cursor: default;
    margin: 8px 0;
}

.overlay-container {
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 999;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #FFF;
}

.input-group-append.btn-group {
    top: 2px;
}

.input-group-append.btn-group .btn-sm {
    height: 35px;
}

.btn-sm {
    min-width: 29px;
}

.transfer-double {
    border: none !important;
    box-shadow: none;
    padding-top: 0px;
}

.transfer-double-header {
    display:none;
}


/* NAVBAR */
.navbar{
    z-index: 999;
}

main {
    margin-top: 55px;
}

/* TABS */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFF;
    background-color: #fff;
    background-color: #838385;
    border-color: #dee2e6 #dee2e6 #fff;
}

.primary-tabs>ul>li>.nav-link:not(.active) {
    color: #FFF;
    border: solid 1px #FFF;
}

.nav-link[data-toggle][data-submenu].collapsed:before {
    content: " ▾";
}

.nav-link[data-toggle][data-submenu]:not(.collapsed):before {
    content: " ▴";
}

.config-editor .tab-pane .nav .nav-item > a {
    height: 32px;
    padding-top: 2px;
}

.config-editor .tab-pane .nav .nav-item > a.active {
    background-color: #5073b0;
}

.config-editor .tab-pane .tab-content {
    border: solid 2px #cfd6e3;
    padding: 10px;
}



/* LOGIN FORM  */

.login-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.login-wrapper #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-wrapper #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.login-wrapper input[type=button], .login-wrapper input[type=submit], .login-wrapper input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.login-wrapper input[type=button]:hover, .login-wrapper input[type=submit]:hover, .login-wrapper input[type=reset]:hover {
    background-color: #39ace7;
}

.login-wrapper input[type=button]:active, .login-wrapper input[type=submit]:active, .login-wrapper input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.login-wrapper input[type=text], .login-wrapper input[type=password], .login-wrapper input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.login-wrapper input[type=text]:focus, .login-wrapper input[type=password]:focus, .login-wrapper input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

.login-wrapper input[type=text]:placeholder, .login-wrapper input[type=password]:placeholder, .login-wrapper input[type=email]:placeholder {
    color: #cccccc;
}

.login-wrapper .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.login-wrapper .underlineHover:hover {
    color: #0d0d0d;
}

.login-wrapper .underlineHover:hover:after {
    width: 100%;
}

.login-wrapper .error {
    color: red;
    font-size: 16px;
}

/* ANIMATIONS */

/*Fade in down*/

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Fade in*/

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* SIDE NAV*/

.side-nav>a.active {
    border-radius: 0px;
    background-color: #33b5e5!important
}

/* FORMS AND INPUT ELEMENTS */

select option[disabled] {
    color: gray;
}

div.form-control {
    border: 0px;
    padding: 0px;
    margin-top: -3px;
}

.bootstrap-select+.input-group-append {
    margin-left: -6px;
    margin-top: -9px;
}

.bootstrap-select>.btn.dropdown-toggle {
    margin-top: 0px;
    margin-left: 0px;
}

.bootstrap-select>button.btn.dropdown-toggle {
    background-color: #838385 !important;
    color: #FFF !important;
}

.bootstrap-select>button.btn.dropdown-toggle.bs-placeholder {
    color: #e0e0e0 !important;
}

.form-group label {
    color: #000;
    font-weight: 400;
}

/*AJAX LOADER*/

.ajax-loader {
    width: 100vw;
    height: max(100%, 100vh);
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    z-index: 9000;
}

.ajax-load-message {
    position: fixed;
    background-color: white !important;
    padding: 15px;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 9998;
}

.ajax-load-message>img {
    width: 48px;
    height: 48px;
}

/*TOAST*/

.toast-element {
    max-width: 450px;
    width: 100vw;
}

/* ACCORDION */

.uib-acordion-group-arrow>.card-header {
    position: relative;
}

.uib-acordion-group-arrow>.card-header h5 {
    margin-left: 22px;
    font-size: 16px;
}

.uib-acordion-group-arrow>.card-header h5:before {
    content: "\f107";
    color: #007bff;
    top: 11px;
    left: 16px;
    position: absolute;
    font-family: "FontAwesome";
    font-size: 18px;
    font-weight: bold;
}

.uib-acordion-group-arrow>.card-header[aria-selected="true"] h5:before {
    content: "\f106";
}

/* DATA TABLE */

.data-table th {
    background-color: #a6c !important;
    color: #FFF;
}

.data-table {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-height: 600px;
}

.data-table thead {
    flex: 0 0 auto;
}

.data-table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.data-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

/* SETTINGS VIEW */

.btn-switch {
    height: 24px !important;
    min-width: 48px !important;
    padding: 8px !important;
    line-height: 10px !important;
    margin: 0px;
}

.btn-switch:not(.switch-off):active, .btn-switch:not(.switch-off).active {
    line-height: 3px !important;
}

.btn-default.btn-switch:not([disabled]):not(.disabled), .show>.btn-default.btn-switch.dropdown-toggle {
    color: #495057 !important;
    background-color: #fffefe !important;
}

.btn-default.btn-switch:not([disabled]):not(.disabled):active, .btn-default.btn-switch:not([disabled]):not(.disabled).active, .show>.btn-default.btn-switch.dropdown-toggle:active, .show>.btn-default.btn-switch.dropdown-toggle.active {
    border: inset 2px #4285f4 !important;
    background-color: #4285f4 !important;
    color: #FFF !important;
}

.table.object-settings-table tr>td:first-child {
    padding-top: 24px;
}

.table.object-settings-table td, .table.object-settings-table th {
    border: none !important;
}

.table.object-settings-table th {
    padding: 0px;
}

.table.object-settings-table td {
    padding-left: 0px;
}

/* ARROWS */

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-up-down {
    position: relative;
    border-color: #4285f4
}

.arrow-up-down.down {
    top: 5px;
    left: -13px;
}

.arrow-up-down.up {
    top: -5px;
}

.list-group-item.active .arrow-up-down {
    border-color: #FFF;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.mb-0-all, .mb-0-all * {
    margin-bottom: 0 !important;
}

/*SCRIPT PREVIEW*/

.script-preview {
    width: 100%;
    height: 500px;
    position: relative;
}

.script-preview textarea {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

/* OBJECT LISt*/

.object-list {
    overflow-y: auto;
    overflow-x: hidden;
}

.quick-info {
    overflow-x: hidden;
    text-overflow: ellipsis;
}