<!--TARGET RECORDS FILTER-->
<div class="form-row" ng-show="!context.selectedConfig.extraData.isFileMigrationTarget">
    <div class="form-group col-md-12 object-param-edit">
        <label>
            <i class="fa fa-edit text-info" ng-click="showParamEditorField(object, 'targetRecordsFilter')"
                data-toggle="tooltip" title="Edit this value"></i>&nbsp;
            Target records filter WHERE:
            <i class="fa fa-question-circle" data-toggle="tooltip"
                title="The WHERE SOQL clause that will be applied to the target records to filter them right before insert/updating on this sObject."></i>
        </label>
        <span class="value text-primary">
            {[{object.extraData.targetRecordsFilter || '** NO FILTER **'}]}
        </span>

        <div class="object-param-edit-field card" ng-show="object.paramsVisibility['targetRecordsFilter']">
            <div class="card-body">
                <textarea placeholder="Enter the WHERE expression for the filter" class="form-control"
                    ng-model="object.extraData.targetRecordsFilter">
            </textarea>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm"
                    ng-click="updateParamEditorField(object, 'targetRecordsFilter')">
                    Update
                </button>
                <button type="button" class="btn btn-danger btn-sm"
                    ng-click="cancelUpdateParamEditorField(object, 'targetRecordsFilter')">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>