<!--EXTERNAL ID-->
<div class="form-row">
    <div class="form-group col-md-12 object-param-edit">
        <label>
            <i class="fa fa-edit text-info" ng-click="showParamEditorField(object, 'externalId')" data-toggle="tooltip"
                title="Edit this value"></i>&nbsp;
            External Id(s):
            <i class="fa fa-question-circle" data-toggle="tooltip"
                title="The unique field or group of fields that their values are used to map between the source and the target records."></i>
        </label>
        <span class="value text-primary">
            {[{object.extraData.externalId}]}
            <i data-toggle="tooltip" title="{[{object.extraData.externalIdDataError}]}"
                ng-show="!!object.extraData.externalIdDataError"
                class="fa fa-xs fa-exclamation-triangle text-danger"></i>
        </span>
        <div class="object-param-edit-field card" ng-show="object.paramsVisibility['externalId']">
            <div class="card-body">

                <div class="custom-control custom-switch inline-block">
                    <input type="checkbox" class="custom-control-input" id="complexExtId{[{object.id}]}"
                        ng-model="object.extraData.externalIdIscomplex"
                        ng-checked="object.extraData.externalIdIscomplex">
                    <label class="custom-control-label" for="complexExtId{[{object.id}]}">
                        Use manual multipart external Id (On/Off)
                        <i class="fa fa-question-circle" data-toggle="tooltip"
                            title="When checked you are allowed to manually enter a list of multiple fields (including lookups or master-details) separated by semicolon."></i>
                    </label>
                </div>

                <select name="externalIdSelector" style="max-width:380px" placeholder="Select field from the list"
                    class="form-control mt-2" ng-model="object.extraData.externalId"
                    ng-show="!object.extraData.externalIdIscomplex">
                    <option ng-repeat="option in object.extraData.externalIdAvailableOptions | orderBy:'label'"
                        value="{[{option.value}]}">{[{option.label}]}
                    </option>
                </select>

                <textarea ng-show="object.extraData.externalIdIscomplex"
                    placeholder="Enter one or more SObject fields separated by semicolon. You can include including parent relationships."
                    class="form-control mt-2" ng-model="object.extraData.externalId">
                </textarea>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm"
                    ng-click="updateParamEditorField(object, 'externalId')">
                    Update
                </button>
                <button type="button" class="btn btn-danger btn-sm"
                    ng-click="cancelUpdateParamEditorField(object, 'externalId')">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>