<div ng-show="object.extraData.operation != 'Readonly' && !object.extraData.deleteAll">
    <!--WHERE DELETE-->
    <div class="form-row" ng-show="object.extraData.deleteOldData || object.extraData.operation == 'Delete'">
        <div class="form-group col-md-12 object-param-edit">
            <label>
                <i class="fa fa-edit text-info" ng-click="showParamEditorField(object, 'deleteWhere')"
                    data-toggle="tooltip" title="Edit this value"></i>&nbsp;
                Delete WHERE:
                <i class="fa fa-question-circle" data-toggle="tooltip"
                    title="The WHERE SOQL clause to select old records that need to be deleted from the Target before the new records are inserted."></i>
            </label>
            <span class="value text-primary">
                {[{object.extraData.deleteWhere ||
                object.extraData.where || '** DELETE ALL RECORDS **'}]}
            </span>

            <div class="object-param-edit-field card" ng-show="object.paramsVisibility['deleteWhere']">
                <div class="card-body">
                    <textarea placeholder="Enter the WHERE expression" class="form-control"
                        ng-model="object.extraData.deleteWhere">
                                                                </textarea>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary btn-sm"
                        ng-click="updateParamEditorField(object, 'deleteWhere')">
                        Update
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                        ng-click="cancelUpdateParamEditorField(object, 'deleteWhere')">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--DATA MOCKING-->
    <div class="form-row" ng-show="object.extraData.updateWithMockData">
        <div class="form-group col-md-12 object-param-edit">
            <label>
                <i class="fa fa-edit text-info" ng-click="showParamEditorField(object, 'mockFields')"
                    data-toggle="tooltip" title="Edit this value"></i>&nbsp;
                Data masking:
                <i class="fa fa-question-circle" data-toggle="tooltip"
                    title="Define SObject fields that need to be masked with dummy data during data migration."></i>
            </label>
            <span class="value text-primary">
                {[{object.extraData.mockFields.length > 0 ? '** Masking
                rules do exist **' :
                '** Nasking rules not defined **'}]}
            </span>

            <div class="object-param-edit-field card" ng-show="object.paramsVisibility['mockFields']">
                <div class="card-body">
                    <div ng-show="object.fields.length > 0 && object.extraData.availableFieldsForMocking.length > 0">
                        <label>Configure data masking for this
                            object</label>
                        <div class="input-group col-md-6">
                            <select name="mockFieldsSelector" class="form-control mt-2">
                                <option value="" disabled selected hidden>
                                    -- Choose field to mask --</option>
                                <option ng-repeat="option in object.extraData.availableFieldsForMocking"
                                    value="{[{option.value}]}">
                                    {[{option.label}]}
                                </option>
                            </select>
                            <div class="input-group-append" style="position: relative; top:6px;">
                                <button type="button" class="btn btn-success btn-sm" ng-click="appendMockField(object)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <label ng-show="object.fields.length == 0" class="text-danger">
                        You can't add fields to the masking
                        configuration,
                        because no fields are currently selected for the
                        data migration.
                    </label>
                    <br />
                    <div ng-show="object.extraData.mockFields.length > 0" class="row">
                        <div class="col-md-2">Field name</div>
                        <div class="col-md-3">Mask rule</div>
                    </div>
                    <hr />
                    <div ng-repeat="mockField in object.extraData.mockFields">
                        <div class="row">
                            <div class="col-md-2">
                                <strong class="inline-block" style="margin-top: 20px">
                                    {[{mockField.name}]}
                                </strong>
                            </div>
                            <div class="col-md-3">
                                <select name="mockPatternSelector" class="form-control mt-2"
                                    ng-model="mockField.pattern">
                                    <option ng-repeat="option in object.extraData.mockPatterns"
                                        value="{[{option.value}]}">
                                        {[{option.label}]}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control mt-2" ng-model="mockField.excludedRegex"
                                    placeholder="RegExp to exclude values" />
                            </div>
                            <div class="col-md-3">
                                <input class="form-control mt-2" ng-model="mockField.includedRegex"
                                    placeholder="RegExp to include values" />
                            </div>
                            <div class="col-md-1">
                                <i data-name="{[{mockField.name}]}" style="margin-top: 20px"
                                    class="fa fa-trash pointer text-danger" ng-click="removeMockField(object)"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary btn-sm"
                        ng-click="updateParamEditorField(object, 'mockFields')">
                        Update
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                        ng-click="cancelUpdateParamEditorField(object, 'mockFields')">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>