<ui-tabs id="objectAddOnsTabset" selected-tab-id="$ctrl.addOnsSelectedTabId"
    on-change="$ctrl.handleTabChange(args)">
    <ui-tab title="{{ 'ON_BEFORE_ADD_ONS' | translate }}" tab-id="objectOnBefore">
        <div ng-repeat="params in [{ label: 'ON_BEFORE_ADD_ONS', helpSearchWord: 'OBJECT_ON_BEFORE_EVENT' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsToolbar.html'"></div>
        <div ng-repeat="params in [{ addOnType: 'beforeAddons' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsEditor.html'"></div>
    </ui-tab>
    <ui-tab title="{{ 'FILTER_RECORDS_ADD_ONS' | translate }}" tab-id="objectOnFlterRecords">
        <div ng-repeat="params in [{ label: 'FILTER_RECORDS_ADD_ONS', helpSearchWord: 'OBJECT_ON_FILTER_RECORDS_EVENT' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsToolbar.html'"></div>
        <div ng-repeat="params in [{ addOnType: 'filterRecordsAddons' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsEditor.html'"></div>
    </ui-tab>
    <ui-tab title="{{ 'ON_BEFORE_UPDATE_ADD_ONS' | translate }}" tab-id="objectOnBeforeUpdate">
        <div ng-repeat="params in [{ label: 'ON_BEFORE_UPDATE_ADD_ONS', helpSearchWord: 'OBJECT_ON_BEFORE_UPDATE_EVENT' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsToolbar.html'"></div>
        <div ng-repeat="params in [{ addOnType: 'beforeUpdateAddons' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsEditor.html'"></div>
    </ui-tab>
    <ui-tab title="{{ 'ON_AFTER_UPDATE_ADD_ONS' | translate }}" tab-id="objectOnAfterUpdate">
        <div ng-repeat="params in [{ label: 'ON_AFTER_UPDATE_ADD_ONS', helpSearchWord: 'OBJECT_ON_AFTER_UPDATE_EVENT' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsToolbar.html'"></div>
        <div ng-repeat="params in [{ addOnType: 'afterUpdateAddons' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsEditor.html'"></div>
    </ui-tab>
    <ui-tab title="{{ 'ON_AFTER_ADD_ONS' | translate }}" tab-id="objectOnAfter">
        <div ng-repeat="params in [{ label: 'ON_AFTER_ADD_ONS', helpSearchWord: 'OBJECT_ON_AFTER_EVENT' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsToolbar.html'"></div>
        <div ng-repeat="params in [{ addOnType: 'afterAddons' }]"
            ng-include="'./js/angular-app/components/objectManagerEditor/views/addOnsEditor.html'"></div>
    </ui-tab>
</ui-tabs>