<ui-label class="d-block text-size-2" label="{{ 'TABS.DATA_ANONYMIZATION' | translate }}"
    help-search-word="DATA_ANONYMIZATION" add-help-links="true">
</ui-label>

<ui-edit-form-array class="d-block" id="fieldDataAnonymizationEditor" setup="$ctrl.dataAnonymizationSetup"
    label="{{ 'ANONYMIZED_FIELDS' | translate }}" 
    array-setup="$ctrl.dataAnonymizationArraySetup" json-array="$ctrl.dataAnonymizationJsonArray"
    on-change="$ctrl.handleDataAnonymizationChange(args)" 
    on-new-change="$ctrl.handleDataAnonymizationNewChange(args)"
    on-new-add="$ctrl.handleDataAnonymizationNewAdd(args)"
    items-container-class="auto-height-h720"></ui-edit-form-array>