<ui-label class="d-block ms-3 text-primary-dashed" label="{{ 'TABS.FIELDS_MAPPING' | translate }}" help-search-word="FIELDS_MAPPING"
	add-help-links="true">
</ui-label>

<ui-json-editor form-class="ms-2 align-items-end mt-5" id="objectfieldMappingTabTargetObjectForm"
    setup="$ctrl.fieldMappingTargetObjectsListFormSetup" json="$ctrl.fieldMappingTargetObjectsListJson"
    on-change="$ctrl.fieldMappingTargetObjectChange(args)">
</ui-json-editor>

<ui-alert class="d-block mt-2" type="warning" shown="$ctrl.targetObjectNotDescribed">
    {{ 'TAGET_SOBJECT_NOT_DESCRIBED' | translate }}
</ui-alert>

<ui-edit-form-array ng-if="!$ctrl.targetObjectNotDescribed" class="d-block mt-3 p-3"
    id="objectFieldMappingTabFieldsForm" setup="$ctrl.fieldMappingSetup"
    label="{{ 'MAPPED_FIELDS' | translate }}" form-class="form-control-width-2"
    array-setup="$ctrl.fieldMappingArraySetup" json-array="$ctrl.fieldMappingJsonArray"
    on-change="$ctrl.fieldMappingChange(args)" items-container-style="height: calc(100vh - 790px)"></ui-edit-form-array>