<div class="row">
    <div class="col-12">
        <div class="form-group mb-3 mt-3">
            <div class="input-group">
                <label>{{res.Config_ConfigList}}:</label>
                <div class="break"></div>
                <!--Configs selector -->
                <select data-config-selector select-picker data-collection="ui.state.configs()"
                    data-model="ui.configPage.allConfigIds" class="form-control form-control-sm">
                    <option ng-repeat="config in ui.state.configs() | orderBy : 'name' track by config.id"
                        value={{config.id}}>
                        {{config.name}}
                    </option>
                </select>
                <div class="input-group-append">
                    <!--Add config -->
                    <button class="btn btn-primary btn-sm" type="button" popover-append-to-body="true"
                        popover-placement="bottom" popover-trigger="'mouseenter'" uib-popover="{{res.Config_AddNewConfig}}"
                        ng-click="ui.configPage.addConfigClickHandler()">
                        <i class="fa fa-plus"></i>
                    </button>
                    <!--Edit config -->
                    <button class="btn btn-primary btn-sm" type="button"
                        ng-click="ui.configPage.editConfigClickHandler()" ng-hide="!ui.configPage.allConfigIds[0]"
                        popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'"
                        uib-popover="{{res.Config_EditConfigName}}">
                        <i class="fa fa-edit"></i>
                    </button>
                    <!--Clone config -->
                    <button class="btn btn-primary btn-sm" type="button"
                        ng-click="ui.configPage.cloneConfigClickHandler()" ng-hide="!ui.configPage.allConfigIds[0]"
                        popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'"
                        uib-popover="{{res.Config_CloneConfig}}">
                        <i class="fa fa-clone"></i>
                    </button>
                    <!--Download config -->
                    <a class="btn btn-primary btn-sm" href="javascript:void(0)"
                        ng-hide="!ui.configPage.allConfigIds[0]" ng-click="ui.configPage.downloadConfigClickHandler()"
                        popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'"
                        uib-popover="{{res.Config_DownloadConfig}}">
                        <i class="fa fa-save"></i>
                    </a>
                    <!--Upload config -->
                    <input type="file" id="uploadConfig" class="hidden"
                        onchange="angular.element(this).scope().uploadConfigChangeHandler(event)" />
                    <label for="uploadConfig" class="btn btn-primary btn-sm ml-0 white"
                        popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'"
                        uib-popover={{res.Config_UploadConfig}}>
                        <i class="fa fa-upload"></i>
                    </label>
                    <!--Delete config -->
                    <button class="btn btn-danger btn-sm" type="button"
                        ng-click="ui.configPage.removeConfigClickHandler()" ng-hide="!ui.configPage.allConfigIds[0]"
                        popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'"
                        uib-popover="{{res.Config_RemoveConfig}}">
                        <i class="fa fa-trash"></i>
                    </button>
                    <!--Delete unused config folders -->
                    <button class="btn btn-danger btn-sm" type="button"
                        ng-click="ui.configPage.removeUnusedConfigFoldersHandler()" ng-show="ui.configPage.showRemoveUnusedConfigFildersButton()"
                        popover-append-to-body="true" popover-placement="bottom" popover-trigger="'mouseenter'"
                        uib-popover="{{res.Config_RemoveUnusedConfigFolders}}">
                        <i class="fa fa-window-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>