<ui-label class="d-block mb-1 text-primary-dashed" label="{{ 'TABS.SCRIPT_SETTINGS' | translate }}"
	help-search-word="SCRIPT_SETTINGS" add-help-links="true">
</ui-label>

<small class="d-block mb-1 text-muted">
	<em>
		({{ 'LABELS_REPRESENTING_PROPERTY_NAMES' | translate }})
	</em>
</small>

<div class="row">
	<div class="col-md-8">
		<ui-json-editor form-class="ms-2 align-items-end mt-5" id="scriptSettingsForm" setup="$ctrl.scriptSettingsSetup"
			row-titles="$ctrl.scriptSettingsTitles" json="$ctrl.scriptSettingsJson"
			on-change="$ctrl.handleScriptManagerFormChange(args)">
		</ui-json-editor>
	</div>
</div>