<div class="card bg-light-light home-page-section">
    <div class="card-body">
        <!--Messages -->
        <div uib-alert ng-class="'alert-info'"
            ng-show="ui.state.orgs().length > 1 && !ui.homePage.isValid()">
            <i class="fa fa-info-circle"></i>&nbsp;{{res.Home_Message_MustSelectDifferentSourceTargetItems}}
        </div>
        <div uib-alert ng-class="'alert-info'" ng-show="ui.state.orgs().length == 1">
            <i class="fa fa-info-circle"></i>&nbsp;{{res.Home_Message_MustHaveAtLeastOneSFDXOrg}}<br />
            <a href="#" ng-click="ui.homePage.refreshOrgsListHandler()">{{res.Home_ClickHere}} </a>
            {{res.Home_ToRetrieveListOfOrgs}}
        </div>

        <!--Org selectors -->
        <div class="row">
            <div class="col-12 col-md-5">

                <!--Source selector -->
                <div class="form-group mb-3">
                    <label>{{res.Source}}:</label>
                    <select data-org-selector1 select-picker data-collection="ui.state.orgs()"
                        data-model="ui.homePage.currentSourceOrgIds" class="form-control form-control-sm">
                        <option ng-repeat="org in ui.state.orgs() | orderBy : 'aliasOrName' track by org.id"
                            value={{org.id}}>
                            {{org.aliasOrName}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-7">
                <!--Target selector -->
                <div class="form-group mb-3">
                    <label>{{res.Target}}:</label>
                    <div class="input-group">
                        <select data-org-selector2 select-picker data-collection="ui.state.orgs()"
                            data-model="ui.homePage.currentTargetOrgIds" class="form-control form-control-sm">
                            <option ng-repeat="org in ui.state.orgs() | orderBy : 'aliasOrName' track by org.id"
                                value={{org.id}}>
                                {{org.aliasOrName}}
                            </option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" type="button"
                                ng-click="ui.homePage.refreshOrgsListHandler()" popover-placement="bottom"
                                popover-trigger="'mouseenter'" uib-popover="{{res.Home_RetireveOrgsList}}">
                                <i class="fa fa-list"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
