<div class="card bg-light-light home-page-section">
    <div class="card-body">
        <div class="card-body p-0">
            <!--SFDX command test -->
            <div class="d-flex justify-content-between">
                <div>
                    <button class="btn btn-primary btn-sm" ng-click="ui.homePage.executeForceOrgListHandler()">
                        <i class="fa fa-play"></i>&nbsp;{{res.Home_ExecuteForceOrgList}}
                    </button>
                    <button class="btn btn-primary btn-sm ml-1" ng-click="ui.homePage.executeForceOrgDisplayHandler()">
                        <i class="fa fa-play"></i>&nbsp;{{res.Home_ExecuteForceOrgDisplay}}
                    </button>
                </div>
                <button class="btn btn-primary btn-sm" ng-click="ui.homePage.downloadCLICommadOutputHandler()"
                    ng-disabled="!ui.homePage.cliOutputPlain">
                    <i class="fa fa-save"></i>&nbsp;{{res.Home_DownloadJsonOutput}}
                </button>
            </div>
            <div class="card">
                <div class="card-body script-output" ng-bind-html="ui.homePage.cliOutput">
                </div>
            </div>
        </div>
    </div>
</div>